
.dashboard-container {
    padding: 60px;
    min-height: 70vh;
    background: #f5f7fa;
}

.dashboard-container h1 {
    margin-bottom: 40px;
    font-size: 32px;
}

.cards {
    display: flex;
  flex-direction: column;   
    gap: 25px;
}

.card {
     cursor: pointer;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.2s;
  overflow: visible;
    
}

.card:hover {
 
    transform: translateY(-5px);
}

.card h2 {
    margin-bottom: 10px;
    color: #0099a8;
}
/*contact messages table*/
table {
 
  border-collapse: collapse;
  margin-top: 20px;

}


th {
  background: #0099a8;
  color: white;
}

td, th {
  padding: 10px;
  border: 1px solid #ccc;
}


/*responsiviteti*/
@media (max-width: 767px) {
   
  .dashboard-container {
    padding: 20px 14px;
  }

  .dashboard-container h1 {
    font-size: 20px;
    text-align: center;
  }
  .card {
    overflow: hidden;    
    padding: 18px;        
  }

  .tablescroll {
    width: 100%;
    overflow-x: auto;         
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .tablescroll table {
    width: max-content;       
    min-width: 700px;            
  }

  th, td {
    white-space: nowrap;        
  }


  .card h2 {
    font-size: 17px;
  }

  .card p {
    font-size: 13px;
  }

  table {
      min-width: 600px;
    font-size: 12px;
  }

  th, td {
    white-space: nowrap;
    padding: 8px;
  }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1023px) {

.dashboard-container {
    padding: 35px 30px;
  }

  .dashboard-container h1 {
    font-size: 26px;
  }

  .card {
    padding: 25px;
  }

  .card p {
    font-size: 14px;
  }

  .card h2 {
    font-size: 20px;
  }
  .company-logo img { width: 120px; }
 
 
}
/* laptop */
@media (min-width: 1024px) {

 .dashboard-container {
    padding: 60px;
  }

  .dashboard-container h1 {
    font-size: 32px;
  }

  .card {
    padding: 30px;
  }
  .card h2 {
    font-size: 22px;
  }
}
