* { margin: 0; padding: 0; box-sizing: border-box; }

.navbar {
background: #0099a8;
display: flex;
justify-content: space-between;
padding: 20px 60px;
width: 100%;
box-shadow: 0 2px 8px rgba(0,0,0,0.2);
align-items: center;
}

.logo {
color: #ffea00;
font: bold 22px Arial, sans-serif;
display: flex;
    align-items: center;

}

.nav-links {
display: flex;
list-style: none;
gap: 35px;
}

.nav-links li a {
color: #fff;
text-decoration: none;
font: 500 16px Arial, sans-serif;
transition: 0.1s;
}

.nav-links li a:hover {
  color: #ffe066;}

   .nav-links li a.active {
    color: #ffe066;
  }


/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* NAVBAR */
.navbar {
    background: #0099a8;
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.logo {
    color: #ffea00;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}