

/* Discover more*/
.discovermore {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
}

.discovermore1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.discovermore1 p {
    font-size: 18px;
    color: #444;
    width: 80%;
}

.discover-img {
    width: 100%;
    height: 280px;
    border-radius: 12px;
    object-fit: cover;
}

/* destinations list */
.destinations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px;
    gap: 30px;
}

.destination-card {
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.destination-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    cursor: pointer;
}

.destination-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.destination-info h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.destination-info p {
    font-size: 15px;
    margin-bottom: 8px;
    color: #555;
}

.price {
    color: #0099a8;
    font-weight: bold;
    font-size: 18px;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}




/*per telefon*/
@media (max-width: 767px) {

  

   .discovermore {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
    gap: 20px;
  }

  .discovermore1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .discovermore1 h1 {
    font-size: 26px;
    line-height: 1.3;
  }

  .discovermore1 p {
    width: 100%;
  font-size: 16px;
  }

  .discover-img {
    max-width: 100%;
    height: 220px;
    border-radius: 12px;
    object-fit: cover;
  }


  .destinations-container { 
    flex-direction: column; 
    padding: 30px 16px;
  }

  .destination-card { 
    width: 100%; 
    margin: 15px 0; 
  }

}
/* Tablet (768–1023px) */
@media (min-width: 768px) and (max-width: 1023px) {

 
  /* Discover More */
  .discovermore {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 40px;
    gap: 30px;
  }

  .discovermore1 {
    font-size: 28px;
  }

  .discovermore1 h1 {
    font-size: 32px;
  }

  .discovermore1 p {
    width: 100%;
    font-size: 17px;
  }

  .discover-img {
    max-width: 420px;
    height: 260px;
    border-radius: 12px;
    object-fit: cover;
  }

  .destination-card { width: 260px; }


}

/*  desktop me i madh se 1440 */
@media (min-width: 1440px) {

  .discovermore {
    padding: 80px 160px;
    gap: 50px;
  }

  .discovermore1 {
    font-size: 30px;
  }

  .discovermore1 h1 {
    font-size: 40px;
  }

  .discovermore1 p {
    font-size: 20px;
    width: 80%;
  }

  .discover-img {
    max-width: 520px;
    height: 320px;
    border-radius: 12px;
    object-fit: cover;
  }

  .destination-card { width: 330px; }
}

