* { margin: 0; padding: 0; box-sizing: border-box; }

.navbar {
background: #0099a8;
display: flex;
justify-content: space-between;
padding: 20px 60px;
box-shadow: 0 2px 8px rgba(0,0,0,0.2);
width: 100%;
}

.logo {
color: #ffea00;
font: bold 22px Arial, sans-serif;
}

.nav-links {
display: flex;
list-style: none;
gap: 35px;
}

.nav-links li a {
color: #fff;
text-decoration: none;
font: 500 16px Arial, sans-serif;
transition: 0.1s;
}

.nav-links li a:hover {
  color: #ffe066;}

.nav-links li a.active {
    color: #ffea00;
  }

/* Carousel container */
.slideshow-container {
 
   max-width: 100%;
  margin: auto;
  overflow: hidden; 
}


.mySlides {
  display:none; 
  position: relative;
}


.mySlides img {
  width: 100%; 
  height: 650px; 
}

/* Butonat e navigimit */
.carousel-control {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5); 
  user-select: none;
  z-index: 10;
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next {
  right: 0;
}



/*Container mbrenda caroselit*/
.text {
  padding:60px 30px;
  position: absolute;
  top: 10px; 
  left: 10px; 
  color: #000; 
  font-size: xx-large;
  font-weight: bold;
  letter-spacing: 3px;
 
}
#p1{
  color: black;
  font-size: 30px;
  padding-top: 30px;
  font-weight: bolder;
 
}



/*Top destinations*/
.destinations-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 30px;
  

}

.destination-card{
    display: flex;
    flex-direction: column;
    margin: 40px;
     width: 350px;
    align-items: center;
   overflow: hidden;
   transition: 0.3s;
  }  



.destination-card img{
   height: 100%;
    width: 100%;
    cursor: pointer;
   }

.destination-card:hover {
    transform: translateY(-10px);
   box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.top-destinations h2{
  position: relative;
  text-align: center;
  font-size: xx-large;
  margin-top: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  }
.text-card{
  position:absolute;
 padding-top: 120px;
 cursor:pointer;
 font-weight: bolder;
 color: white;

}
.btn-discover {
  padding: 20px 25px;
  background-color: #0099a8;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bolder;
}

.btn-discover:hover {
  background-color: #06bfd0;
}

/* Companies*/

.companies {
    width: 100%;
    overflow: hidden;
    position: sticky; 
    background-color: #fff; 
    z-index: 1000;   
    padding: 20px 0;
}

.companies-container {
    display: flex;
    align-items: center;
    gap: 50px;
    animation: slide 20s linear infinite; 
}

.companies-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px;
  margin-bottom: 20px;
  animation: slide 10s linear infinite;

}
.companies-container img{
  width: 150px;
  height: auto;
  cursor: pointer;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Why us */
.why-us {
width: 100%;
margin: 0 auto;
text-align: center; 
padding: 40px 20px;
background-color: #f7f7f7;
}

.why-us h2 {
margin-top: 20px;
margin-bottom: 80px;
font-size: xx-large;
}

.why-us-content {
display: flex;
flex-wrap: wrap; 
justify-content: center;
align-items: flex-start;
gap: 40px;
margin: 20px 40px;

}


.why-us-text {
flex: 1 1 500px; 
text-align: left;
font-size: large;
}

.video-container {
flex: 1 1 500px; 
display: flex;
justify-content: center; 
align-items: center; 
padding-left: 20px;
}

.video-container img {
max-width: 100%;
height: auto;
cursor: pointer;
border-radius: 10%;
}
/*footeri*/
.footer {
 
  background-color: #0099a8;
  display: flex;
  justify-content: space-between;
  
  padding: 40px 70px;
  color: white;
 

}

.footer h2 {
  margin-bottom: 15px;
  font-size: 26pxpx;
  color: white;
} 
.footer a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 8px 0;
  display: block;

}

.footer a :hover{
  opacity: 0.8;

}


.contactfooter, 
.aboutfooter,
.otherservicesfooter{
  width: 20%;
  justify-content: space-between;
 margin-bottom: 40px;
 margin-left: 5%;
 
}

.logo1 {
  display: flex;
  gap: 15px;
  margin-top: 15px;

}

.logo1 img{
  
  width: 30px;
  height: auto;
  cursor: pointer;
  
}

/*footer bottom*/
.footer-bottom {
  text-align: center;
  padding: 30px 0 40px;
  color: black;
  font-size: 20px;
}

.footer-bottom p {
  margin: 8px 0;
}
/*contact us*/
#popup {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.popup-inner {
  background: #fff;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  position: relative;
  animation: fadeIn .25s ease-in-out;
}


.popup-inner h2 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px;
}


.popup-inner input,
.popup-inner textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.popup-inner textarea {
  height: 90px;
  resize: none;
}


.popup-inner button {
  width: 100%;
  padding: 10px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.popup-inner button:hover {
  background: #06aea68b;
}


#closePopup {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  font-size: 14px;
  color: #666;
  transition: 0.2s;
}

#closePopup:hover {
  color: #000;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}