
/*Log in container*/
body {
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1600");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
   
}


.login-container {
  
  text-align: center;
  width: 100%;
  max-width: 420px;
  margin: 140px auto 150px auto;
    padding: 0 16px; 

}

.title {
  color: rgb(0, 0, 0);
  font-size: 36px;
  margin-bottom: 80px;
  letter-spacing: 2px;
   margin-top: 50px;
}

.login-box {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    padding: 40px;
   width: 100%;
   margin-top: 40px;

}

.login-box h2 {
  margin-bottom: 20px;
  margin-top: 50px;
}

label {
  text-align: left;
  display: block;
  font-size: 14px;
  margin: 8px 0 4px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.forgot {
  display: block;
  text-align: right;
  color: #007bff;
  font-size: 14px;
  margin-bottom: 15px;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 30px;
}

.btn:hover {
  background: #0f5fd0;
}

.signup {
  margin-top: 15px;
  font-size: 14px;
  margin-bottom: 15px;
}

.signup a {
  color: #1a73e8;
}







/*telefon*/

@media (max-width: 767px){
  

.login-container{
    max-width: 300px;
    margin: 10px auto 30px auto;
    padding-top: 20px;
  }
    .title{
    font-size: 20px;
    margin: 8px 0 14px;
  }

  .login-box{
    padding: 16px;
   border-radius: 12px;
    margin-bottom: 12px;
  }
    .login-box h2{
    font-size: 18px;
    margin: 20px 0;

  }
  label{
    font-size: 13px;
  
  }

  input{ 
    padding: 9px;
   font-size: 13px; }
  .btn{ 
    padding: 10px;
   font-size: 14px;
   margin-bottom: 18px;
  }
.forgot{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .signup{
    font-size: 12px;
    margin-top: 8px;
  }

}

/*tablet*/
@media (min-width: 768px) and (max-width: 1023px) {



  .login-container{
    max-width: 420px;
    margin: 120px auto 120px auto;
  }

  .title{
    font-size: 30px;
    margin-bottom: 40px;
  }

  .login-box{
    padding: 32px;
  }

}
/*laptop*/
@media (min-width: 1024px){
  
  .login-container{
    max-width: 420px;
    margin: 140px auto 150px auto;
  }

  .login-box{ padding: 40px; }

}
.error{
  color: red;
  font-size: 13px;
  margin: 4px 0 10px;
  display: block;
}

input.error-input{
  border: 2px solid red;
}