* { margin: 0; padding: 0; box-sizing: border-box; }

.navbar {
background: #0099a8;
display: flex;
justify-content: space-between;
padding: 20px 60px;
box-shadow: 0 2px 8px rgba(0,0,0,0.2);
width: 100%; 
position: absolute; 
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
color: #ffea00;
font: bold 22px Arial, sans-serif;
}

.nav-links {
display: flex;
list-style: none;
gap: 35px;
}

.nav-links li a {
color: #fff;
text-decoration: none;
font: 500 16px Arial, sans-serif;
transition: 0.1s;
}

.nav-links li a:hover {
  color: #ffe066;}

.nav-links li a.active {
    color: #ffea00;
  }

/*Log in container*/
body {
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1600");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

}


.login-container {
  text-align: center;
  width: 100%;
  max-width: 420px;
  padding-top: 70px;
  margin: 140px auto 150px auto;

}

.title {
  color: rgb(0, 0, 0);
  font-size: 36px;
  margin-bottom: 80px;
  letter-spacing: 2px;
   margin-top: 50px;
}

.login-box {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    max-width: 520px;
  padding: 40px;
}

.login-box h2 {
  margin-bottom: 20px;
  margin-top: 50px;
}

label {
  text-align: left;
  display: block;
  font-size: 14px;
  margin: 8px 0 4px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.forgot {
  display: block;
  text-align: right;
  color: #007bff;
  font-size: 14px;
  margin-bottom: 15px;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 30px;
}

.btn:hover {
  background: #0f5fd0;
}

.signup {
  margin-top: 15px;
  font-size: 14px;
  margin-bottom: 15px;
}

.signup a {
  color: #1a73e8;
}

/*footeri*/
.footer {
 
  background-color: #0099a8;
  display: flex;
  justify-content: space-between;
   padding: 40px 70px;
  color: white;
 

}

.footer h2 {
  margin-bottom: 15px;
  font-size: 26pxpx;
  color: white;
} 
.footer a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 8px 0;
  display: block;

}

.footer a :hover{
  opacity: 0.8;

}


.contactfooter, 
.aboutfooter,
.otherservicesfooter{
  width: 20%;
  justify-content: space-between;
 margin-bottom: 40px;
 margin-left: 5%;
 
}

.logo1 {
  display: flex;
  gap: 15px;
  margin-top: 15px;

}

.logo1 img{
  
  width: 30px;
  height: auto;
  cursor: pointer;
  
}

/*footer bottom*/
.footer-bottom {
  text-align: center;
  padding: 30px 0 40px;
  color: black;
  font-size: 20px;
}

.footer-bottom p {
  margin: 8px 0;
}


